:root {
    --primary-brand: #4D5AE5;
    --action-active: #404BBF;
    --dark: #2E2F42;
    --text-main: #434455;
    --accent-color: #E7E9FC;
    --light: #F4F4FD;
    --background-primary: #FFFFFF;
    --hero-background: rgba(46, 47, 66, 0.7);
    --background-footer-social: rgba(255, 255, 255, 0.1);
    --success-highlight: #31D0AA;
    --subtle-text: #8E8F99;
    --backdrop-bg: rgba(46, 47, 66, 0.4);
    --modal-bg: #FCFCFC;
}

/* For hodden elements */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Page */
.page {}

.page__body {

    color: var(--text-main);

    font-family: 'Roboto', sans-serif;

}

.page__header {}

/* Header */

.header {
    border-bottom: 1px solid var(--accent-color);
    background-color: var(--background-primary);
}


/* Container */

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

/* Logo */

.logo {
    display: block;

    color: var(--text-main);

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}


.logo--theme_dark {
    color: var(--light);

    line-height: 1.67;

}

.logo__accent {
    color: var(--primary-brand);
}

/* Link */
.link {
    display: block;
    /* color: var(--text-main); */
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: var(--action-active);
}

/* List */

.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

   list-style: none;
}

/* Menu */
.menu {}

.menu__list {}

.menu__item {}

.menu__link {
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--text-main);

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu__link--current {
    position: relative;
    color: var(--action-active);
}

.menu__link--current:after {
    --height: 4px;

    content: "";

    position: absolute;
    bottom: -1px;
    left: 0;

    display: block;
    width: 100%;
    height: var(--height);

    background-color: var(--action-active);
    border-radius: 2px;

}

/* Contacts */

.contacts {}

.contacts__list {}

.contacts__item {}

.contacts__link {

    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--text-main);

    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

/* Button */

.button {
    display: flex;
    column-gap: 16px;

    color: var(--background-primary);

    background-color: var(--primary-brand);

    border-radius: 4px;
    border: none;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button:hover,
.button:focus {
    background-color: var(--action-active);

}

.button__icon {
    width: 24px;
    height: 24px;

    fill: currentColor;
}

.button--subscribe {
    min-width: 165px;
    padding: 8px 0;
}

/* Section */

.section {
    background-color: var(--background-primary);

    padding-top: 120px;
    padding-bottom: 120px;
}

.section--half-bottom {
    padding-bottom: 60px;
}

.section--half-top {
    padding-top: 60px;
}

.section--bg-grey {
    background-color: var(--light);
}

.section--no-paddings {
    padding-top: 0;
    padding-bottom: 0;
}

.section__title {

    margin-top: 0;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;

    color: var(--dark);


    font-size: 36px;
    /* font-weight: 700; */
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;

}

.section__content {
    display: flex;
    column-gap: 24px;
}

.section__content--gallery {
    flex-wrap: wrap;
    row-gap: 48px;
}

/* Hero */

.hero {}

.hero__title {
    margin-bottom: 48px;
    max-width: 498px;

    color: var(--background-primary);

    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

}

.hero__content {
    height: 600px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    background-image:
        linear-gradient(var(--hero-background), var(--hero-background)),
        url("../images/people-office-1400x600-opt.jpg");
}

.hero__button {
    min-width: 169px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/* Social Links */
.social-links {
    display: flex;
    column-gap: 24px;
    justify-content: center;
}

.social-links__item {}

.social-links__link {
    display: flex;
    min-width: 40px;
    min-height: 40px;
    padding: 8px;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-brand);

    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover,
.social-links__link:focus {
    background-color: var(--action-active);

}

.social-links--theme_dark {
    display: flex;
    column-gap: 16px;
    justify-content: left;
}

.social-links__link--theme_dark {
    background-color: var(--background-footer-social);
}

.social-links__link--theme_dark:hover,
.social-links__link--theme_dark:focus {
    background-color: var(--success-highlight);
}

.social-links__icon {
    display: block;
    width: 16px;
    height: 16px;

    fill: var(--background-primary);
}

.social-links__icon--size_m {
    width: 24px;
    height: 24px;
}

/* Card */

.card {
    display: block;  
}

.card__illustration {
    display: flex;
    margin: 0;

    justify-content: center;
    align-items: center;
}

.card__image {
    display: block;
    margin: 0;
    padding: 0;
}

.card__description {}

.card__title {
    margin-top: 0;
    margin-bottom: 8px;

    color: var(--dark);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.card__text {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.card__link {
    text-decoration: none;
    color: inherit;
}

.card__illustration-hover {
    margin: 0;
    position: absolute;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__image--feature {

    width: 64px;
    height: 64px;

}

.card__illustration--feature {
    min-height: 112px;
    padding: 4px;
    margin-bottom: 8px;
/* 
    justify-content: center;
    align-items: center; */

    background-color: var(--light);
    border-radius: 4px;
}

.card--person {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.card__illustration--person {
    padding: 0px;
}

.card__title--person {
    text-align: center;
}

.card__text--person {
    text-align: center;
    margin-bottom: 8px;
}

.card__description--person {
    padding: 32px 0;
}

.card--client {
    
}

.card__illustration--client {
    min-width: 168px;
    min-height: 88px;
    padding: 4px;
    justify-content: center;
    align-items: center;

    color: var(--subtle-text); 

    border: 1px solid var(--subtle-text);
    border-radius: 4px;
     
}

.card__image--client {
    width: 104px;
    height: 56px;

    fill: currentColor;
}


.card__link--client {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link--client:hover,
.card__link--client:focus {
    border-color: var(--action-active);
    color: var(--action-active);
}

.card--gallery {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card--gallery:hover,
.card--gallery:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card__description--gallery {
    padding: 32px 16px;

    border-left: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card--gallery:hover .card__description--gallery ,
.card--gallery:focus .card__description--gallery {
    border-left: 0.5px solid var(--light);
    border-right: 0.5px solid var(--light);
    border-bottom: 0.5px solid var(--light);
}

.card__illustration--gallery {
    position: relative;
    overflow: hidden;
}

.card__illustration-hover--gallery {

    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;

    top: 100%;
    left: 0;
    height: 100%;

    color: var(--light);
    background-color: var(--primary-brand);
    color: var(--light);

    line-height: 1.5;
    letter-spacing: 0.02em;

    transform: translateY(0);
}

.card--gallery:hover .card__illustration-hover--gallery ,
.card--gallery:focus .card__illustration-hover--gallery {
    transform: translateY(-100%);
}





/* Footer */

.footer {
    padding-top: 100px;
    padding-bottom: 100px;

    color: var(--light);
    background-color: var(--dark);
}

.footer__text {
    margin-bottom: 0;
    max-width: 264px;

    line-height: 1.5;
    letter-spacing: 0.02em;

}

.footer__logo {
    margin-right: 120px;
}

.footer__socials {
    min-width: 208px;
    margin-right: 80px;
}

.footer__subtitle {
    display: block;
    margin-top: 0;
    margin-bottom: 16px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.footer__blocks {
    display: flex;
}

/* Subscribe-form */

.subscribe-form{
    display: flex;
    column-gap: 24px;

    align-items: center;

}

.subscribe-form__input {
    width: 264px;
    height: 40px;
    /* margin-right: 24px; */
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;

    color: var(--light);
    background-color: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscribe-form__input:focus {
    outline: none;
    border: 1px solid var(--light);

}

.subscribe-form__field {
    position: relative;
}

.subscribe-form__label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    color: rgba(255, 255, 255, 0.6);

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.subscribe-form__field:focus-within .subscribe-form__label,
.subscribe-form__input:not(:placeholder-shown)+.subscribe-form__label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
