:root {
    --primary-brand: #4D5AE5;
    --action-active: #404BBF;
    --dark: #2E2F42;
    --text-main: #434455;
    --accent-color: #E7E9FC;
    --light: #F4F4FD;
    --background-primary: #FFFFFF;
    --hero-background: rgba(46, 47, 66, 0.7);
    --background-footer-social: rgba(255, 255, 255, 0.1);
    --success-highlight: #31D0AA;
    --subtle-text: #8E8F99;
    --backdrop-bg: rgba(46, 47, 66, 0.4);
    --modal-bg: #FCFCFC;
}

/* Page */
.page {}

.page__body {

    color: var(--text-main);

    font-family: 'Roboto', sans-serif;

}

.page__header {}

/* Header */

.header {
    border-bottom: 1px solid var(--accent-color);
    background-color: var(--background-primary);
}


/* Container */

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

/* Logo */

.logo {
    display: block;

    color: var(--text-main);

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.logo:hover,
.logo:focus {
    color: var(--action-active);
}

.logo--theme_dark {
    color: var(--light);

    line-height: 1.67;

}

.logo__accent {
    color: var(--primary-brand);
}

/* Link */
.link {
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--text-main);
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: var(--action-active);
}

/* List */

.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

/* Menu */
.menu {}

.menu__list {


}

.menu__item {}

.menu__link {
    display: block;
    
    font-weight: 500;
}

.menu__link--current {
    position: relative;
    color: var(--action-active);
}

.menu__link--current:after {
    --height: 4px;

    content: "";

    position: absolute;
    bottom: -1px;
    left: 0;

    display: block;
    width: 100%;
    height: var(--height);

    background-color: var(--action-active);
    border-radius: 2px;

}

/* Contacts */

.contacts {
    
}

.contacts__list {}

.contacts__item {}

.contacts__link {
    display: block;

    font-style: normal;

}

/* Button */

.button {
    display: flex;
    /* padding: 16px 32px; */

    color: var(--background-primary);

    background-color: var(--primary-brand);

    border-radius: 4px;
    border: none;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button:hover,
.button:focus {
    background-color: var(--action-active);

}

/* Section */

.section {
    background-color: var(--background-primary);
}

.section__title {

    margin-top: 0;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;

    color: var(--dark);


    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;

}

.section__content {

}

/* Hero */

.hero {

}

.hero__title {

    max-width: 498px;

    color: var(--background-primary);

    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

}

.hero__content {
    height: 600px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    background-image:
        linear-gradient(var(--hero-background), var(--hero-background)),
        url("../images/people-office-1400x600-opt.jpg");

    /* text-align: center; */
}

.hero__button {
    min-width: 169px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}